<%- include('html_header_tag') %>


    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Casa Selada</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap"
            rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;200;300;400;500;600;700;900&display=swap"
            rel="stylesheet">
        <script src="https://kit.fontawesome.com/3ad4d80aee.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/update_styles.css" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&family=Noto+Sans&display=swap"
            rel="stylesheet">

    </head>

    <style>
        #graphcontainer1 {
            height: 450px;
            width: 900px;
            margin: 0 auto;
            margin-top: 150px;
        }

        #graphcontainer2 {
            height: 450px;
            width: 900px;
            margin: 0 auto;
            margin-top: 150px;
        }

        .graph {
            height: 900px;
            width: 450px;
        }

        @media only screen and (max-width: 900px) {

            #graphcontainer1,
            #graphcontainer2 {
                height: 350px;
                width: 90%;
            }

            .graph {
                height: 350px;
                width: 90%;
            }
        }
    </style>


    <body class="dashboard-body">



        <!-- <center> -->
        <div>

            <h1 class="Envi">Environmental and Water Quality &nbsp&nbsp&nbsp&nbsp&nbsp
            </h1>



        </div>
        <br>
        <br>

        <ul class="outer-container-1">

            <!-- 
			<br>
			<br>
			<br>
			<br> -->
            <li class="container-1">
                <b class="label-1">Water Temperature</b>
                <p class="sensors" id="WaterTemp"></p>
                <br>
                <b class="unit1"></b>
                <i class="fa-solid fa-temperature-half"></i>

                </label>
                <br>
            </li>

            <!-- <br>
			<br> -->
            <li class="container-2">
                <b class="label-2">pH</b>
                <p class="sensors" id="phVal"></p>
                <br>
                <b class="unit2"></b>
                <i class="fa-solid fa-thermometer"></i>

                </label>
                <br>
            </li>

            <!-- <br>
			<br> -->
            <li class="container-3">
                <b class="label-3">Electrical Conductivity</b>
                <p class="sensors" id="EcVal"></p>
                <br>
                <b class="unit3"></b>
                <i class="fa-solid fa-vials"></i>

                </label>
                <br>
            </li>

            <!-- <br>
			<br> -->
            <li class="container-4">
                <b class="label-4">Humidity</b>
                <p class="sensors" id="Humid"></p>
                <br>
                <b class="unit4"></b>
                <i class="fa-solid fa-wind"></i>

                </label>
                <br>
            </li>

            <!-- <br>
			<br> -->
            <li class="container-5">
                <b class="label-5">Room Temperature</b>
                <p class="sensors" id="RoomTemp"></p>
                <br>
                <b class="unit5"></b>
                <i class="fa-solid fa-temperature-high"></i>

                </label>
                <br>
            </li>


        </ul>

        <!-- </center> -->
        <br>
        <br>
            <div class="divider-container">
                <hr class="divider" style="height:2px;border-width:0;width:95%;color:rgb(180, 180, 180);background-color:rgb(180, 180, 180)">
            </div>
        <!-- <center> -->
        <div class="control-container">

            <div>
                <h1 class="ControlPanel">Control Panel</h1>
            </div>

            <br>
            <br>

            <ul class="outer-container-2">

                <!-- 
			<br>
			<br>
			<br>
			<br> -->
                <li class="container-7">
                    <b>Fan Switch</b>
                    <br><br>
                    <input type="checkbox" id="switch" class="checkbox" />
                    <label for="switch" class="toggle-1">
                    </label>
                    <br>
                </li>

                <!-- <br>
			<br> -->
                <li class="container-8">
                    <b>Light Switch</b>
                    <br><br>
                    <input type="checkbox" id="switch1" class="checkbox1" />
                    <label for="switch1" class="toggle-2">
                        <span class="slider"></span>
                    </label>
                    <br>
                </li>

                <!-- <br>
			<br> -->
                <li class="container-9">
                    <b>Pump Switch</b>
                    <br><br>
                    <input type="checkbox" id="switch2" class="checkbox2" />
                    <label for="switch2" class="toggle-3">
                        <span class="slider"></span>
                    </label>
                    <br>
                </li>

                <!-- <br>
			<br> -->
                <li class="container-10">
                    <!-- <br>
				<br> -->
                    <b>Mist Switch</b>
                    <br><br>
                    <input type="checkbox" id="switch3" class="checkbox3" />
                    <label for="switch3" class="toggle-4">
                        <span class="slider"></span>
                    </label>
                    <br>
                </li>

                <!-- <br>
			<br> -->
                <li class="container-10">
                    <!-- <br>
				<br> -->
                    <b>Aerator Switch</b>
                    <br><br>
                    <input type="checkbox" id="switch4" class="checkbox4" />
                    <label for="switch4" class="toggle-5">
                        <span class="slider"></span>
                    </label>
                    <br>
                </li>


            </ul>

            <!-- </center> -->


            <br>

            <br>

            <br>

            <br>

            <br>


            <div class="divider-container">
                <hr class="divider" style="height:2px;border-width:0;width:95%;color:rgb(180, 180, 180);background-color:rgb(180, 180, 180)">
            </div>
            
            <div>
                <h1 class="sched">Scheduler</h1>
            </div>

            <div class="container-12">
                <div class="btn-group">
                    <button id="grow" class="grow">Grow Light</button>
                    <button id="water" class="water">Water Pump</button>
                    <button id="mist" class="mist">Mist</button>
                    <button id="fan" class="fan">Fan</button>
                    <button id="aerator" class="aerator">Aerator</button>
                </div>

            </div>
            <br>

            <br><br>
            <div id="grow-light-form">
                <form>
                    <div class="display">
                        <label for="displayTimeOn">Time to turn ON: </label>
                        <span class="displayTimeOn" id="displayTimeOn"></span>
                        <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                        <label for="displayTimeOff">Time to turn OFF: </label>
                        <span class="displayTimeOff" id="displayTimeOn"></span>


                    </div>
                    <br>

                    <div class="inputs">

                        <label for="time-on">&nbspSelect a time on:&nbsp</label>
                        <input class="form-select" type="time" id="time-on" name="Time_On" />

                        <label for="time-off">&nbsp&nbsp&nbspSelect a time off:&nbsp</label>
                        <input class="form-select" type="time" id="time-off" name="Time_Off" />

                        <br>


                    </div>

                    <br>

                    <div class="checklist">

                        <input class="form-check-input" type="checkbox" id="select-all" />
                        <label class="form-check-label" for="Everyday"> <span>Everyday</span></label>

                        <input class="form-check-input" type="hidden" value="false" id="MondayHidden" name="Monday" />
                        <input class="form-check-input" type="checkbox" value="true" id="Monday" name="Monday" />
                        <label class="form-check-label" for="Monday"> <span>Mon</span></label>

                        <input class="form-check-input" type="hidden" value="false" id="TuesdayHidden" name="Tuesday" />
                        <input class="form-check-input" type="checkbox" value="true" id="Tuesday" name="Tuesday" />
                        <label class="form-check-label" for="Tuesday"> <span>Tue</span></label>

                        <input class="form-check-input" type="hidden" value="false" id="WednesdayHidden"
                            name="Wednesday" />
                        <input class="form-check-input" type="checkbox" value="true" id="Wednesday" name="Wednesday" />
                        <label class="form-check-label" for="Wednesday">
                            <span>Wed</span></label>

                        <input class="form-check-input" type="hidden" value="false" id="ThursdayHidden"
                            name="Thursday" />
                        <input class="form-check-input" type="checkbox" value="true" id="Thursday" name="Thursday" />
                        <label class="form-check-label" for="Thursday"> <span>Thu</span></label>

                        <input class="form-check-input" type="hidden" value="false" id="FridayHidden" name="Friday" />
                        <input class="form-check-input" type="checkbox" value="true" id="Friday" name="Friday" />
                        <label class="form-check-label" for="Friday"> <span>Fri</span></label>

                        <input class="form-check-input" type="hidden" value="false" id="SaturdayHidden"
                            name="Saturday" />
                        <input class="form-check-input" type="checkbox" value="true" id="Saturday" name="Saturday" />
                        <label class="form-check-label" for="Saturday">
                            <span>Sat</span>
                        </label>

                        <input class="form-check-input" type="hidden" value="false" id="SundayHidden" name="Sunday" />
                        <input class="form-check-input" type="checkbox" value="true" id="Sunday" name="Sunday" />
                        <label class="form-check-label" for="Sunday"> <span>Sun</span></label>

                    </div>


                    <br>

                    <br>
                    <div class="container">

                        <!-- <button class="btn-submit">Set Schedule</button>
                 -->


                        <button class="reset">Reset</button>

                        <button class="default">Default</button>



                    </div>


                </form>
                <br>
                <br>

            </div>

            <div id="water-pump-form">
                <form>
                    <div class="display">
                        <label for="displaytext">Status: </label>
                        <span class="displaytext" id="displaytext"></span>


                    </div>
                    <br>

                    <div class="inputs">

                        <label for="time-on">&nbspSelect a time on:&nbsp</label>
                        <input class="form-select" type="time" id="time-on1" name="Time_On" />

                        <label for="time-off">&nbsp&nbsp&nbspSelect a time off:&nbsp</label>
                        <input class="form-select" type="time" id="time-off1" name="Time_Off" />

                        <br>


                    </div>

                    <br>

                    <div class="checklist">

                        <input class="form-check-input" type="checkbox" id="select-all1" />
                        <label class="form-check-label" for="Everyday"> <span>Everyday</span></label>

                        <input class="form-check-input" type="hidden" value="false" id="MondayHidden" name="Monday" />
                        <input class="form-check-input" type="checkbox" value="true" id="Monday1" name="Monday" />
                        <label class="form-check-label" for="Monday"> <span>Mon</span></label>

                        <input class="form-check-input" type="hidden" value="false" id="TuesdayHidden" name="Tuesday" />
                        <input class="form-check-input" type="checkbox" value="true" id="Tuesday1" name="Tuesday" />
                        <label class="form-check-label" for="Tuesday"> <span>Tue</span></label>

                        <input class="form-check-input" type="hidden" value="false" id="WednesdayHidden"
                            name="Wednesday" />
                        <input class="form-check-input" type="checkbox" value="true" id="Wednesday1" name="Wednesday" />
                        <label class="form-check-label" for="Wednesday">
                            <span>Wed</span></label>

                        <input class="form-check-input" type="hidden" value="false" id="ThursdayHidden"
                            name="Thursday" />
                        <input class="form-check-input" type="checkbox" value="true" id="Thursday1" name="Thursday" />
                        <label class="form-check-label" for="Thursday"> <span>Thu</span></label>

                        <input class="form-check-input" type="hidden" value="false" id="FridayHidden" name="Friday" />
                        <input class="form-check-input" type="checkbox" value="true" id="Friday1" name="Friday" />
                        <label class="form-check-label" for="Friday"> <span>Fri</span></label>

                        <input class="form-check-input" type="hidden" value="false" id="SaturdayHidden"
                            name="Saturday" />
                        <input class="form-check-input" type="checkbox" value="true" id="Saturday1" name="Saturday" />
                        <label class="form-check-label" for="Saturday">
                            <span>Sat</span>
                        </label>

                        <input class="form-check-input" type="hidden" value="false" id="SundayHidden" name="Sunday" />
                        <input class="form-check-input" type="checkbox" value="true" id="Sunday1" name="Sunday" />
                        <label class="form-check-label" for="Sunday"> <span>Sun</span></label>

                    </div>


                    <br>
                    <br>
                    <div class="container">

                        <!-- <button class="btn-submit">Set Schedule</button>
                 -->
                        <button class="reset1">Reset</button>
                        <button class="default1">Default</button>

                    </div>

                </form>
                <br>

                <br>

            </div>

            <div id="mist-form">
                <form>
                    <div class="display">
                        <label for="displayTimeOn">Time to turn ON: </label>
                        <span class="displayTimeOn" id="displayTimeOn"></span>
                        <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                        <label for="displayTimeOff">Time to turn OFF: </label>
                        <span class="displayTimeOff" id="displayTimeOn"></span>


                    </div>
                    <br>

                    <div class="inputs">

                        <label for="time-on">&nbspSelect a time on:&nbsp</label>
                        <input class="form-select" type="time" id="time-on2" name="Time_On" />

                        <label for="time-off">&nbsp&nbsp&nbspSelect a time off:&nbsp</label>
                        <input class="form-select" type="time" id="time-off2" name="Time_Off" />

                        <br>


                    </div>

                    <br>

                    <div class="checklist">

                        <input class="form-check-input" type="checkbox" id="select-all2" />
                        <label class="form-check-label" for="Everyday"> <span>Everyday</span></label>

                        <input class="form-check-input" type="hidden" value="false" id="MondayHidden" name="Monday" />
                        <input class="form-check-input" type="checkbox" value="true" id="Monday2" name="Monday" />
                        <label class="form-check-label" for="Monday"> <span>Mon</span></label>

                        <input class="form-check-input" type="hidden" value="false" id="TuesdayHidden" name="Tuesday" />
                        <input class="form-check-input" type="checkbox" value="true" id="Tuesday2" name="Tuesday" />
                        <label class="form-check-label" for="Tuesday"> <span>Tue</span></label>

                        <input class="form-check-input" type="hidden" value="false" id="WednesdayHidden"
                            name="Wednesday" />
                        <input class="form-check-input" type="checkbox" value="true" id="Wednesday2" name="Wednesday" />
                        <label class="form-check-label" for="Wednesday">
                            <span>Wed</span></label>

                        <input class="form-check-input" type="hidden" value="false" id="ThursdayHidden"
                            name="Thursday" />
                        <input class="form-check-input" type="checkbox" value="true" id="Thursday2" name="Thursday" />
                        <label class="form-check-label" for="Thursday"> <span>Thu</span></label>

                        <input class="form-check-input" type="hidden" value="false" id="FridayHidden" name="Friday" />
                        <input class="form-check-input" type="checkbox" value="true" id="Friday2" name="Friday" />
                        <label class="form-check-label" for="Friday"> <span>Fri</span></label>

                        <input class="form-check-input" type="hidden" value="false" id="SaturdayHidden"
                            name="Saturday" />
                        <input class="form-check-input" type="checkbox" value="true" id="Saturday2" name="Saturday" />
                        <label class="form-check-label" for="Saturday">
                            <span>Sat</span>
                        </label>

                        <input class="form-check-input" type="hidden" value="false" id="SundayHidden" name="Sunday" />
                        <input class="form-check-input" type="checkbox" value="true" id="Sunday2" name="Sunday" />
                        <label class="form-check-label" for="Sunday"> <span>Sun</span></label>

                    </div>


                    <br>
                    <br>
                    <div class="container">

                        <!-- <button class="btn-submit">Set Schedule</button>
                 -->
                        <button class="reset2">Reset</button>

                    </div>

                </form>
                <br>
                <br>

            </div>

            <div id="fan-form">
                <form>
                    <div class="display">
                        <label for="displayTimeOn">Time to turn ON: </label>
                        <span class="displayTimeOn" id="displayTimeOn"></span>
                        <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                        <label for="displayTimeOff">Time to turn OFF: </label>
                        <span class="displayTimeOff" id="displayTimeOn"></span>

                    </div>
                    <br>

                    <div class="inputs">

                        <label for="time-on">&nbspSelect a time on:&nbsp</label>
                        <input class="form-select" type="time" id="time-on3" name="Time_On" />

                        <label for="time-off">&nbsp&nbsp&nbspSelect a time off:&nbsp</label>
                        <input class="form-select" type="time" id="time-off3" name="Time_Off" />

                        <br>


                    </div>

                    <br>

                    <div class="checklist">

                        <input class="form-check-input" type="checkbox" id="select-all3" />
                        <label class="form-check-label" for="Everyday"> <span>Everyday</span></label>

                        <input class="form-check-input" type="hidden" value="false" id="MondayHidden" name="Monday" />
                        <input class="form-check-input" type="checkbox" value="true" id="Monday3" name="Monday" />
                        <label class="form-check-label" for="Monday"> <span>Mon</span></label>

                        <input class="form-check-input" type="hidden" value="false" id="TuesdayHidden" name="Tuesday" />
                        <input class="form-check-input" type="checkbox" value="true" id="Tuesday3" name="Tuesday" />
                        <label class="form-check-label" for="Tuesday"> <span>Tue</span></label>

                        <input class="form-check-input" type="hidden" value="false" id="WednesdayHidden"
                            name="Wednesday" />
                        <input class="form-check-input" type="checkbox" value="true" id="Wednesday3" name="Wednesday" />
                        <label class="form-check-label" for="Wednesday">
                            <span>Wed</span></label>

                        <input class="form-check-input" type="hidden" value="false" id="ThursdayHidden"
                            name="Thursday" />
                        <input class="form-check-input" type="checkbox" value="true" id="Thursday3" name="Thursday" />
                        <label class="form-check-label" for="Thursday"> <span>Thu</span></label>

                        <input class="form-check-input" type="hidden" value="false" id="FridayHidden" name="Friday" />
                        <input class="form-check-input" type="checkbox" value="true" id="Friday3" name="Friday" />
                        <label class="form-check-label" for="Friday"> <span>Fri</span></label>

                        <input class="form-check-input" type="hidden" value="false" id="SaturdayHidden"
                            name="Saturday" />
                        <input class="form-check-input" type="checkbox" value="true" id="Saturday3" name="Saturday" />
                        <label class="form-check-label" for="Saturday">
                            <span>Sat</span>
                        </label>

                        <input class="form-check-input" type="hidden" value="false" id="SundayHidden" name="Sunday" />
                        <input class="form-check-input" type="checkbox" value="true" id="Sunday3" name="Sunday" />
                        <label class="form-check-label" for="Sunday"> <span>Sun</span></label>

                    </div>


                    <br>
                    <br>
                    <div class="container">

                        <!-- <button class="btn-submit">Set Schedule</button>
                 -->
                        <button class="reset3">Reset</button>

                    </div>

                </form>
                <br>
                <br>

            </div>

            <div id="aerator-form">
                <form>
                    <div class="display">
                        <label for="displaytext1">Status: </label>
                        <span class="displaytext1" id="displaytext1"></span>


                    </div>
                    <br>

                    <div class="inputs">

                        <label for="time-on">&nbspSelect a time on:&nbsp</label>
                        <input class="form-select" type="time" id="time-on4" name="Time_On" />

                        <label for="time-off">&nbsp&nbsp&nbspSelect a time off:&nbsp</label>
                        <input class="form-select" type="time" id="time-off4" name="Time_Off" />

                        <br>


                    </div>

                    <br>

                    <div class="checklist">

                        <input class="form-check-input" type="checkbox" id="select-all4" />
                        <label class="form-check-label" for="Everyday"> <span>Everyday</span></label>

                        <input class="form-check-input" type="hidden" value="false" id="MondayHidden" name="Monday" />
                        <input class="form-check-input" type="checkbox" value="true" id="Monday4" name="Monday" />
                        <label class="form-check-label" for="Monday"> <span>Mon</span></label>

                        <input class="form-check-input" type="hidden" value="false" id="TuesdayHidden" name="Tuesday" />
                        <input class="form-check-input" type="checkbox" value="true" id="Tuesday4" name="Tuesday" />
                        <label class="form-check-label" for="Tuesday"> <span>Tue</span></label>

                        <input class="form-check-input" type="hidden" value="false" id="WednesdayHidden"
                            name="Wednesday" />
                        <input class="form-check-input" type="checkbox" value="true" id="Wednesday4" name="Wednesday" />
                        <label class="form-check-label" for="Wednesday">
                            <span>Wed</span></label>

                        <input class="form-check-input" type="hidden" value="false" id="ThursdayHidden"
                            name="Thursday" />
                        <input class="form-check-input" type="checkbox" value="true" id="Thursday4" name="Thursday" />
                        <label class="form-check-label" for="Thursday"> <span>Thu</span></label>

                        <input class="form-check-input" type="hidden" value="false" id="FridayHidden" name="Friday" />
                        <input class="form-check-input" type="checkbox" value="true" id="Friday4" name="Friday" />
                        <label class="form-check-label" for="Friday"> <span>Fri</span></label>

                        <input class="form-check-input" type="hidden" value="false" id="SaturdayHidden"
                            name="Saturday" />
                        <input class="form-check-input" type="checkbox" value="true" id="Saturday4" name="Saturday" />
                        <label class="form-check-label" for="Saturday">
                            <span>Sat</span>
                        </label>

                        <input class="form-check-input" type="hidden" value="false" id="SundayHidden" name="Sunday" />
                        <input class="form-check-input" type="checkbox" value="true" id="Sunday4" name="Sunday" />
                        <label class="form-check-label" for="Sunday"> <span>Sun</span></label>

                    </div>


                    <br>
                    <br>
                    <div class="container">

                        <!-- <button class="btn-submit">Set Schedule</button>
                 -->
                        <button class="reset4">Reset</button>
                        <button class="default2">Default</button>


                    </div>

                </form>

                <br>
                <br>


            </div>

            <br>

            <div class="divider-container">
                <hr class="divider" style="height:2px;border-width:0;width:95%;color:rgb(180, 180, 180);background-color:rgb(180, 180, 180)">
            </div>

            <h1 class="Analysis">Analysis</h1>

            <div id="graphcontainer1">
                <canvas id="myChart1" class="graph"></canvas>
                <div class="container">
                    <form class="date-range">
                        <label>Start Date:</label>
                        <input type="text" id="startDate" required>
                        <label>End Date:</label>
                        <input type="text" id="endDate" required>
                        <button class="download1" type="submit">Download Data</button>
                    </form>
                </div>
            </div>

            <div id="graphcontainer2">
                <canvas id="myChart2" class="graph"></canvas>
                <div class="container">
                    <form class="date-range1">
                        <label>Start Date:</label>
                        <input type="text" id="startDate1" required>
                        <label>End Date:</label>
                        <input type="text" id="endDate1" required>
                        <button class="download2" type="submit">Download Data</button>
                    </form>
                </div>
            </div>

            <script src="/client.js"></script>
            <script>
                var ctx1 = document.getElementById('myChart1').getContext('2d');
                var chart1 = new Chart(ctx1, {
                    type: 'bar',
                    data: {
                        labels: [], // labels for the data points
                        datasets: [{
                            label: '', // label for the dataset
                            data: [], // data points
                            backgroundColor: [] // color of the bars
                        }]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false
                    }
                });

                var ctx2 = document.getElementById('myChart2').getContext('2d');
                var chart2 = new Chart(ctx2, {
                    type: 'line',
                    data: {
                        labels: [], // labels for the data points
                        datasets: [{
                            label: '', // label for the dataset
                            data: [], // data points
                            backgroundColor: [] // color of the line
                        }]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false
                    }
                });
            </script>
        </div>
    </body>



    <%- include('html_footer_tag') %>


    
