<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="style.css">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">

</head>
<body>

  <header class="header">
    <div class="header__content">
      <a href="#" class="logo">
        <img class="logo_image" src="/img/icpep-logo.png" alt="ICPEP">
        <img class="logo_image" src="/img/mmsu-logo.png" alt="MMSU">
        <img class="logo_image" src="/img/casa-selada.png" alt="CASASELADA">Casa Selada
      </a>
  
      <nav class="nav">
        <ul class="nav__list">

          <li class="nav__item">
            <a class="nav__link" href="/dashboard">Dashboard</a>
          </li>
          
          <!-- <li class="nav__item">
            <a class="nav__link" href="/control">Control</a>
          </li> -->

          <li class="nav__item">
            <a class="nav__link" href="#">About Us</a>
          </li>

          <form action="/route/logout">
            <input class="logout" type="submit" value="Logout" >
         </form>   
        </ul>
      </nav>
    </div>
  </header>

</body>

</html>