<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/update_styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
</head>
<body>

    <footer class="footer">
        <div class="footer__bg">
            <div class="footer__container">
                <div>
                    <h1 class="footer__title">Hydroponics</h1>
                    <span class="footer__subtitle">Computer Engineering</span>
                </div>
            </div>
            <p class="footer__copy">All right reserved</p>
        </div>
    </footer>
    
</body>
</html>